body {
  font-family: "Open Sans";
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  color: black;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 1.8;
  padding: 50px 0;
  margin: 0;
}

.accordion {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  background: white;
  padding: 3px;
}
.accordion li {
  border-bottom: 1px solid gray;
  position: relative;
}
.accordion li div {
  display: none;
  padding: 10px 25px 30px;
  color: black;
  border-left: 5px solid rgb(159, 0, 167);
}
.accordion li div h3 {
  margin-top: 15px;
}
.accordion li div a {
  color: blue;
}
.accordion li div a:active {
  color: rgb(156, 156, 156);
}
.accordion li div a:hover {
  color: gray;
}
.accordion .accordion_buttons {
  color: black;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  line-height: 3;
  font-size: 14px;
  font-size: 0.875rem;
  text-indent: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .4s;
}

.accordion .accordion_buttonsa:hover {
  color: gray;
}
.accordion .accordion_buttons:after {
  width: 8px;
  height: 8px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion div {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 10px;
}

.accordion_buttons.active:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
