<button data-remodal-action="close" class="remodal-close"></button>
<div class="">
	<div class="">
		<div class="contactus">
			<h2>Записаться на курсы</h2>
			<form action="" method = "POST" id="pageall">
				<input type="text" placeholder="Ваше имя" required name="name">
				<input type="text" placeholder="Номер телефона" required name="email">
				<div class="checkbx">
					<p>
						<input type="checkbox" name="uxui" id="uxui">
						<label for="uxui">Frontend</label>
					</p>
					<p>
						<input type="checkbox" name="logo" id="logo">
						<label for="logo">Веб-дизайн</label>
					</p>
					<p>
						<input type="checkbox" name="branding" id="bra">
						<label for="bra">Phyton Jango</label>
					</p>
					<p>
						<input type="checkbox" name="emotion" id="emo">
						<label for="emo">English for IT</label>
					</p>
				</div>
				<input type="text" placeholder="О себе" name="message">
				<div class="button">
					<input type="submit" value="Оставить заявку">
				</div>			
			</form>
		</div>
	</div>
</div>
<!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->