<button data-remodal-action="close" class="remodal-close"></button>
<div class="contactus">
	<h2>Записаться на курсы</h2>
	<form action="" method = "POST" id="pageall">
		<input type="text" placeholder="Ваше имя" required name="name">
		<input type="text" placeholder="Номер телефона" required name="email">
		<div class="checkbx">
			<p>
				<input type="checkbox" name="uxui" id="uxui1">
				<label for="uxui1">Frontend</label>
			</p>
			<p>
				<input type="checkbox" name="branding" id="bra1">
				<label for="bra1">Phyton Jango</label>
			</p>
			<p>
				<input type="checkbox" name="logo" id="logo1">
				<label for="logo1">Веб-дизайн</label>
			</p>
			<p>
				<input type="checkbox" name="emotion" id="emo1">
				<label for="emo1">English for IT</label>
			</p>
			<p>
				<input type="checkbox" name="emotion" id="java1">
				<label for="java1">JAVA</label>
			</p>
			<p>
				<input type="checkbox" name="emotion" id="market1">
				<label for="market1">Маркетинг</label>
			</p>
		</div>
		<input type="text" placeholder="О себе" name="message">
		<div class="button-center">
			<div class="button">
				<input type="submit" value="Оставить заявку">
			</div>	
		</div>
	</form>
</div>

<!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->