<button data-remodal-action="close" class="remodal-close"></button>
<div class="contactus">
	<h2>Записаться на курсы</h2>
	<form action="mail.php" method = "POST" id="pageall">
		<input type="text" placeholder="Ваше имя" name="name" required>
		<input type="text" placeholder="Номер телефона" name="email" required>
		<div class="checkbx">
			<p>
				<input type="checkbox" name="front" id="front">
				<label>Frontend</label>
			</p>
			<p>
				<input type="checkbox" name="phyton" id="phyton">
				<label>Phyton/Jango</label>
			</p>
			<p>
				<input type="checkbox" name="webdes" id="webdes">
				<label>Веб-дизайн</label>
			</p>
			<p>
				<input type="checkbox" name="engljava" id="engljava">
				<label>English for IT</label>
			</p>
			<p>
				<input type="checkbox" name="java" id="java">
				<label>JAVA</label>
			</p>
			<p>
				<input type="checkbox" name="market" id="market">
				<label>Маркетинг</label>
			</p>
		</div>
		<input type="text" placeholder="О себе" name="message">
		<div class="button-center">
			<div class="button">
				<input type="submit" value="Оставить заявку">
			</div>	
		</div>
	</form>
</div>

<!--<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->