<button data-remodal-action="close" class="remodal-close"></button>
<h2>Работы выпускников</h2>
<div>
	<ul class="owl-carousel owl-theme">
		<li class="uxui">
			<h3>Интернет-магазин гитар.<br> Дипломный проект Илья Шабловский</h3>
			<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F290791201575392%2F&width=500&show_text=false&height=235&appId" width="500" height="235" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point using Lorem ipsum is that it has a more-or-less normal</p>
		</li>
		<li class="branding">
			<h3>Интернет-магазин часов.<br> Дипломный проект Кирилла Николенко </h3>
			<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F880900902113964%2F&width=500&show_text=false&height=260&appId" width="500" height="260" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point using Lorem ipsum is that it has a more-or-less normal</p>
		</li>
		<li class="logoDesign">
			<h3>Logo design</h3>
			<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F880900902113964%2F&width=500&show_text=false&height=260&appId" width="500" height="260" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point using Lorem ipsum is that it has a more-or-less normal</p>
		</li>
		<li class="emotionalDesign">
			<h3>Emotional design</h3>
			<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F290791201575392%2F&width=500&show_text=false&height=235&appId" width="500" height="235" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point using Lorem ipsum is that it has a more-or-less normal</p>
		</li>
	</ul>
</div>
<br>
<!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->