<button data-remodal-action="close" class="remodal-close"></button>
<h1>Работы выпусников</h1>
<div>





	<!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F290791201575392%2F&width=500&show_text=false&height=235&appId" width="500" height="235" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>

	<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Formedia.by%2Fvideos%2F880900902113964%2F&show_text=0&width=560" width="560" height="292" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->
</div>
<br>
<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button>