<button data-remodal-action="close" class="remodal-close"></button>
<!--<div class="reviews__body">
				<div class="review__text-button">
					<a href="#modal1">
						<div class="review__text-link">Открыть отзыв</div>
					</a>
				</div>
				
		<div class="remodal" data-remodal-id="teachers1">
			<button data-remodal-action="close" class="remodal-close"></button>
			<div>
				<img src="../img/jpg/rewief_big.jpg" alt="">
			</div>
			<p style="padding-top: 20px">
				Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
			</p>
			<br>
		
		</div>
</div>-->

	


<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
<button data-remodal-action="confirm" class="remodal-confirm">OK</button>